*.tiff
*.pth
cuda_cache/
data/
.vscode/
log/
*results/
*result/
results/
HyperparametersLog/
.venv/
weight/
debug*
tmp*
*.log
*__pycache__/
*.pyc
*.nsys-rep
*.zip
*/backup_original_task2_.zip
temp*
temp_backup_task2/
task1\ai_refined_5_detectors\detector_layout_vis.png